body {
font-family: "Roboto", sans-serif;
color:#434455;
background-color:#FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.heder-logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.heder-logo-span {
    color:#4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.heder-menu {
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.heder-menu:hover, .heder-menu:active {
color:#404BBF;
}

.heder-kontakt {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.heder-kontakt:hover {
    color:#404BBF;   
}

.hero {
    background-color: #2E2F42;
}

.hero-headline {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.5em;
}

.hero-button {
    color: #fff;
    background-color:#4D5AE5;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-button:hover {
background-color:#404BBF;
}


.studio {
}

.studio-headline {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.studio-text {
color:#434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.team {
background-color:#F4F4FD;
}

.team-headline {
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.team-menu-img {
}

.team-menu-headline {
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.team-menu-text {
    color:#434455;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.portfolio {
}

.portfolio-headline {
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.portfolio-menu-img {
}

.portfolio-menu-headline {
    color:#2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.portfolio-menu-text {
color:#434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer {
    background-color:#2E2F42;
}

.footer-logo {
    color:#F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-span {
    color:#4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color:#F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}